.App {
  text-align: center;
}

.entireApp {
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: black;
} */

.createRecipe {
  height: 850px;
  width: 350px;
  padding: 30px;
  background-color: black;
  border: .5px solid rgb(234, 238, 8);
  border-radius: 5px;
  color: rgb(234, 238, 8);
  font-family: "Orbitron", sans-serif;
  position: relative;
  top: 0px; 
  left: -200px;
  box-shadow: 10px 15px 15px  rgb(238, 8, 84);
}

.jumbotron {
  height: 580px;
}

.navbar {
  height: 700px;
  width: 300px;
  float: right;
  border: black solid 29px;
  /* background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #ee0854 100%); */
  background-color: rgb(238, 8, 84);
  position: relative;
  bottom: 40px;
  z-index: 30;
}

.navItem {
  position: relative;
  left: 00px;
}

/* .mr-auto:hover {
  position: relative;
  top: -25px;
  left: -35px;
  width: 500px;
  height: auto;
  display: block;
  z-index: 999;
} */

.links {
  color: black;
  font-size: 25px;
  font-family: "Orbitron", sans-serif;
  position: relative;
  right: 0px;
  top: 10px;
}

.searchBar {
  width: 0px;
  height: 500px;
z-index: 5;
  border-radius: 25px;
  position: relative;
  bottom: 800px;
box-shadow: rgb(234, 238, 8) 5px 5px 10px;
  background-color: white;
  left: 00px;
}
.searchBarDiv {
  width: 800px;
  height: 500px;
z-index: 20;
  border-radius: 25px;
  position: relative;
  bottom: -170px;
 
  left: 200px;
}


.searchBtn {
  height: 40px;
  position: relative;
  bottom: 780px;
  left: 200px;
  z-index: 21;
  width: 90px;
  font-family: "Orbitron", sans-serif;
  border-radius: 10px;
}

.footer {
  background-color: rgb(234, 238, 8) ;
  height: 500px;
}

#swig {
  font-size: 80px;
  font-family: "Orbitron", sans-serif;
  color: rgba(255, 166, 0, 0.883);
  padding: 10px;
}

/* .img {
  height: 600px;
  width: 930px;
  float: right;
  position: relative;
  left: -340px;
  bottom: 700px;
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  float: none;
  
} */

.auth {
  padding: 100px;
  height: 660px;
  background-color: black;
}

/* .authPicDiv {
  height: 400px;
  width: auto;
} */

.authPic {
  width: 850px;
  height: 660px;
  margin: 0;
  position: relative;
  right: 310px;
  bottom: 120px;
}

/* .authPic2 {
  width: 600px;
  height: 400px;
  position: relative;
  top: 338px;
  right: 810px;
} */

#signupLogin {
  height: 400px;
  width: 400px;
  position: relative;
  left: 140px;
  text-align: center;
  top: -620px;
  border: 2px solid rgb(238, 8, 84);
  box-shadow: 10px 10px 15px rgb(238, 8, 84);
  border-radius: 10px;
  color: rgb(234, 238, 8);
  font-family: "Orbitron", sans-serif;
  padding: 40px;
}

.mojito {
  height: 500px;
  width: 400px;
  position: relative;
  top: 50px;
  left: 40px;
}

.card-columns {
  width: 1300px;
  margin: auto;
  padding: 30px;
  position: relative;
  top: -650px;
  z-index: 20;
}



/* 
.blackDiv{

background: linear-gradient(180deg, rgba(20,13,14,0.02874653279280459) 26%, black 50%, black 100%, black 100%);
height: 100px;
position: relative;
bottom: 760px;
left: -240px;
} */

.vDiv{
  width: 150px;
  position: relative;
  float: right;
  height: 1300px;
  background-color: rgb(238, 8, 84);
}


.tris{
  position: relative;
  
  height: 1100px;
  width: 1400px;
bottom: 890px;
  left: -300px;
  z-index: 2;
}

.logo{
  font-size: 200px;
  color: white;
  z-index: 5;
  bottom: 1800px;
  left: -160px;
  /* opacity: 90%; */
  
  text-shadow: 15px 15px 25px black;
  position: relative;

  
}

.whiteDiv{
  height: 300px;
  width: 2000px;
 
  background-color: black;
  z-index: 3;
  position: relative;
  bottom: 450px;
  left: 0px;
  opacity: 50%;
}

.myModalHeader{
  background-color: #FEE140;
background-image: linear-gradient(90deg, #FEE140 0%, #ee0854 100%);

}

.myModalHeader2{
  background-color: #FEE140;
background-image: linear-gradient(90deg, #FEE140 0%, #ee0854 100%);

}


 

.btn-grad {background-color: #FEE140;
  width: 300px;
  background-image: linear-gradient(90deg, #FEE140 0%, #ee0854 100%);
  
  box-shadow: grey 5px 5px 5px;
 
  
}

.myModalFooter{
  background-color: #FEE140;
background-image: linear-gradient(90deg, #FEE140 0%, #ee0854 100%);
}

/* 
.fetchCard{
  box-shadow: 10px 10px 15px rgb(238, 8, 84);
} */

/* .cardbtn{
  background-color: #FEE140;
background-image: linear-gradient(90deg, #FEE140 0%, #ee0854 100%);
width: 200px;
} */

.lsbtn{
  background-color: #FEE140;
background-image: linear-gradient(90deg, #FEE140 0%, #ee0854 100%);
width:100px;
height: 40px;
position: relative;
top: 30px;
border-radius: 10px;
}

.postbtn{
  background-color: #FEE140;
background-image: linear-gradient(90deg, #FEE140 0%, #ee0854 100%);


}

.subbtn{
  background-color: #FEE140;
background-image: linear-gradient(90deg, #FEE140 0%, #ee0854 100%);
}

.createDiv{
  height: 900px;
  width: 800px;
 

}

h4{
  color:rgb(234, 238, 8);
 
}

.whiteLinesC{
  width:1500px;
  height: 1000px;
  position: relative;
  bottom: 300px;
right: 300px;
  z-index: 1;

}



.cardWhiteDiv{
  height: 300px;
  width: 750px;
z-index: 1;
  background-color: white;
  opacity: 60%;
  position: relative;
  bottom: 60px;
  right: 320px;

}

.userRecipeCardBody{
  position: relative;
  bottom: 250px;
  left: 300px;
  
}

.recipeCard{
  height: 300px;
  width: 750px;
  margin-bottom: 20px;
  position: relative;
  top: 50px;
  right: 40px;
  
  background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #ee0854 100%);
  
  
}

.myCardImg{
  z-index: 2;
  position: relative;
  left: 450px;
  top: 5px;
}

.myCardTitle{
  position: relative;
  top: -350px;
 right: 300px;
  font-size: x-large;
  z-index: 4;
}

#myCardSubT{
  position: relative;
  bottom: 350px;
  right: 300px;
  z-index: 4;

}

#myCardSubI{
 position: relative;
 bottom: 330px;
 z-index: 4;
 right: 300px;

}

.myCardText{
  position: relative;
  bottom: 330px;
  z-index: 4;
  right: 300px;
}

#myCardSubD{
  position: relative;
  bottom: 330px;
  z-index: 4;
  right: 300px;
 
 }

 .myCardDir{
   position: relative;
   bottom: 330px;
   z-index: 4;
   right: 300px;
   
 }