.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.createRecipe {
  height: 700px;
  width: 300px;
  padding: 30px;
  background-color: beige;
}

.jumbotron {
  height: 700px;
}

.img {
  height: 500px;
  width: 500px;
  float: left;
  padding: 30px;
}

.navBar {
  height: 130px;
  background-color: black;
}

.searchBar {
  width: 400px;
  height: 200px;
  color: yellow;
  background-color: black;
}

.footer {
  background-color: white;
  height: 300px;
}

#swig {
  font-size: 60px;
  font-family: "Orbitron", sans-serif;
  color: rgba(255, 166, 0, 0.883);
  padding: 10px;
}
